# vim mode
set editing-mode vi
set show-mode-in-prompt on
# Change cursor based on vi mode
set vi-ins-mode-string \1\e[6 q\2
set vi-cmd-mode-string \1\e[2 q\2
# vim command line bindings
"\C-b": beginning-of-line
"\C-e": end-of-line
# Shift + left/right
"\e[1;2C": forward-word
"\e[1;2D": backward-word
# keep this emacs key binding
"\C-a": beginning-of-line
# completions
set colored-stats On
set completion-prefix-display-length 3
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
TAB: menu-complete
# fake vi text object support
$if mode=vi
set keymap vi-command
"diw": "lbdw"
"ciw": "diwi"
"diW": "lBdW"
"ciW": "diWi"
"di'": "f'dT'"
"ci'": "di'i"
"di\"": "f\"dT\""
"ci\"": "di\"i"
"di(": "f)dT("
"di)": "di("
"ci(": "di(i"
"ci)": "ci("
"di[": "f]dT["
"di]": "di["
"ci[": "di[i"
"ci]": "ci["
"di{": "f}dT{"
"di}": "di{"
"ci{": "di{i"
"ci}": "ci{"
$endif
